.destyled{
    background:black;
    color: black; 
    text-decoration: none;
    transition-duration: 0.25s;
}

.destyled:hover{
    color:orange;
}

.thin{
    width: 50%;
}

.btn-fixed{
    position: fixed;
    bottom: 20px;
}

.creation-form{
    height:200px;
}

.form-check{
    margin-left: 12px;
}

.form-label h4{
    margin-bottom: 15px;
}

.form-check .form-check-input{
    margin-top: 7px;
}

.hovering {
    box-shadow: 3px 3px 10px rgba(0,0,0,0.5);
}

.custom-header {
    position: sticky;
    background-color: white;
    top: 0;
    padding-top: 10px;
    padding-bottom: 1px;
    margin-bottom: 10px;
    text-align: center;
    box-shadow: 2px 2px 20px rgba(0,0,0,0.2);
}

.custom-header p {
    font-size: 10px;
    margin-bottom: 10px;
}

.custom-header h1 {
    margin-bottom: 0px;
}

.creation-date{
    font-size: 12px;
    padding-top: 8px;
    margin-bottom: 0px;
}

.container{
    margin-bottom:70px;
    box-shadow: 2px 2px 20px rgba(0,0,0,0.2);
}

.form-check-input{
    margin-top: 20px;
}

.shadowed-box{
    box-shadow: 0px 0px 4px rgba(0,0,0,0.1);
    padding-top: 13px;
    padding-bottom: 9px;
}

.row {
    padding: 5px;
}

.row .btn{
    box-shadow: 0px 0px 4px rgba(0,0,0,0.2);
}